.upload-button {
    width: 80px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    font-size: 12px;
}