# 安装 FastAPI
fastapi==0.124.2
# 安装 uvicorn
uvicorn==0.38.0
# 安装 SQLAlchemy 数据库
sqlalchemy==2.0.45
# 安装 sentence-transformers
sentence-transformers==5.1.2
# 安装 FAISS
faiss-cpu==1.13.1
# 安装 OpenAI
openai==2.9.0
# 安装 python-dotenv
python-dotenv==1.2.1
# 安装 aiosqlite
aiosqlite==0.21.0