.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;  
  cursor: pointer;
}


.menu-item__main {
  display: flex;
  flex: 1;
  color: #333;
  font-size: 16px;
  min-width: 0;
}


.menu-item__link {
  padding: 8px 15px 8px 20px;
  width: 100%;  
  color: inherit;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.menu-item__rename-input {
  padding: 8px 15px 8px 20px;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%; 
  border: none;
  outline: none;
  background: transparent;
  vertical-align: baseline;
}

.menu-item__icon {
  width: 0.9em;
  height: 0.9em;
}

.menu-item__text {
  flex: 1;
  max-width: 100%;
  white-space: nowrap;
  padding-right: 30px;
  /* border: 1px solid red; */

  overflow: hidden;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.menu-item__feature-icon {
  opacity: 0;
  width: 0.85em;
  height: 0.85em;
  margin-right: 15px;  
}

.menu-item:hover {
  background-color: #efefef;
  border-radius: 10px;
}
.menu-item:hover .menu-item__feature-icon {
  opacity: 1;                /* 鼠标悬浮时显示 */
}

.menu-item:has(.menu-item__main--selected) {
  background-color: #EAEAEA;
  border-radius: 10px;
}
.menu-item:has(.menu-item__feature-icon:hover) {
  background-color: transparent !important;
}