.menu-item {
  padding: 8px 15px 8px 20px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin: 0px 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.menu-item:hover {
  background-color: #EFEFEF;
  border-radius: 10px;
}

.menu-item.selected {
  background-color: #EAEAEA;
  border-radius: 10px;
}

.menu-item-text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
}

.menu-item:hover .menu-item-trailing-icon {
  opacity: 1;
}

.menu-item-icon {
  width: 0.9em;
  height: 0.9em;
}