.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;  
}

.menu-item__link {
  flex: 1;
  padding: 8px 15px 8px 20px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin: 0px 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}


.menu-item__icon {
  width: 0.9em;
  height: 0.9em;
}

.menu-item__text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
}

.menu-item__feature-icon {
  opacity: 0;
  width: 0.85em;
  height: 0.85em;
  margin-right: 15px;  
}

.menu-item:hover {
  background-color: #efefef;
  border-radius: 10px;
}
.menu-item:hover .menu-item__feature-icon {
  opacity: 1;                /* 鼠标悬浮时显示 */
}

.menu-item:has(.menu-item__link--selected) {
  background-color: #EAEAEA;
  border-radius: 10px;
}
.menu-item:has(.menu-item__feature-icon:hover) {
  background-color: transparent !important;
}