.side-panel {
  width: 240px;
  flex-shrink: 0;
  background-color: #F9F9F9;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  border-right: 1px solid #C7C7C7;
  font-size: 16px;
}

.side-panel__logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin-bottom: 0px;
  height: 80px;  /* 设置容器高度 */
  width: 100%; /* 设置容器宽度 */
}

.side-panel__sidebar-logo {
  width: 120px;
  height: auto;
  object-fit: contain;
  margin-left: -20px;
}

