.side-panel {
  width: 240px;
  background-color: #F9F9F9;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  border-right: 1px solid #C7C7C7;
}

.menu-item {
  padding: 8px 15px 8px 20px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item:hover {
  background-color: #EFEFEF;
  border-radius: 10px;
}

.menu-item.selected {
  background-color: #EAEAEA;
  border-radius: 10px;
}

.menu-item-text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
}

