.ai-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
}

.ai-message-bubble {
    background-color: #ffffff;
    padding: 10px;
    padding-left: 0px;
    margin: 10px;
    margin-left: 0;
}