.side-panel {
  width: 240px;
  flex-shrink: 0;
  background-color: #F9F9F9;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  border-right: 1px solid #C7C7C7;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.side-panel__logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin-bottom: 0px;
  height: 80px;  /* 设置容器高度 */
  width: 100%; /* 设置容器宽度 */
  flex-shrink: 0;
}

/* 示例: 在 Sidebar.css 文件中 (或相应样式文件) */
.side-panel {
  /* ... 其他现有样式, 比如宽度、背景色等 ... */
  height: 100%; /* 确保侧边栏占据整个视口高度 */
  display: flex;
  flex-direction: column;

}


.side-panel::-webkit-scrollbar {
  width: 8px; /* 滚动条的宽度 */
}

.side-panel::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 滚动条滑块颜色 */
  border-radius: 4px; /* 滑块圆角 */
}

.side-panel__fixed-top {
  /* 确保固定区域内容不会被压缩 */
  flex-shrink: 0;
  padding-bottom: 10px;

}

/* 底部可滚动区域的样式 */
.side-panel__scroll-content {
  /* 占据所有剩余空间 */
  flex-grow: 1;
  /* 开启垂直滚动条，处理内容溢出 */
  overflow-y: auto; 
  /* 确保左右内边距与顶部内容对齐 (例如，如果顶部内容使用了 px-6，即 24px) */
  padding: 0 24px; 
}
