.textbase-articles {
    flex: 1; /* 占满右侧空间 */
    display: flex;
    flex-direction: column;
    padding: 40px 60px; /* 左右留白更舒适 */
    background-color: #fafafa;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.textbase-article__content {  
    flex: 1;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}