.textbase-articles {
    flex: 1; /* 占满右侧空间 */
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.textbase-articles__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.textbase-article__content {  
    flex: 1;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}