@font-face {
    font-family: "MyChineseFont";
    src: url("/public/fonts/AaLingGanHei65J-2.ttf") format("truetype");
    /* 如果是 ttf/otf，可以写成：
       src: url("/fonts/MyChineseFont.ttf") format("truetype");
    */
    font-weight: normal;
    font-style: normal;
  
    /* 限定只给中文字符用（常见 CJK 范围） */
    unicode-range: U+4E00-9FFF, U+3400-4DBF, U+20000-2A6DF;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}