html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}