html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.side-panel {
    width: 200px;
    background-color: #AFAFAF;
}

.chat-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.messages-container {
    display: flex;
    flex-direction: column;
    max-width: 550px;
}